* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter_18pt-Regular";
    color: #000;
}

.mainContainerCinema{
    background-color: black;
    width: 100vw;
    height: 160vh;
}

.container__header{
    display: grid;
    grid-template-columns: 15% 70% 15%;
    margin-left: 5vw;
    margin-right: 5vw;
    margin-bottom: 2.5vw;
    align-items: center; 
}
#arrow__image {
    width: 6vw;
    margin-top: 6vw;
    height: 100%;
}

#title{
    font-size: 4vw;
    color: white;
    margin-top: 5vw;
    line-height: 1.2;
}
.title__container{
    display: flex;
    align-items: center;
    justify-content: center;
}
#image__menu{
    width: 6vw;
    margin-top: 6vw;
    margin-left: 9vw;
}

@media (max-width: 600px) {
    #image__profile {
        width: 55px;
    }
    #welcome__title {
        font-size: 3.5vw;
    }
    #welcome__subtitle {
        font-size: 3.5vw;
    }
    #image__bell{
        width: 40px;
    }
}

.imagecontainer{
    border: 1px solid red;
    height: 30vh;
    margin-left: 4.5vw;
    margin-right: 4.5vw;
}

#image__front__page {
    border-radius: 3vw;
    width: 100%;
    height: 100%;
    transform: scale(1);
    object-fit: cover;
}

.movie-card {
    padding: 20px;
    margin-left: 4.5vw;
    margin-right: 4.5vw;
    border-radius: 8px;
    width: 91%;
  }
  
  .movie-header {
    display: flex;
    color: white;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
    margin-bottom: 10px;
  }
  
  .trailer-button {
    display: flex;
    flex-direction: row;
    background-color: red;
    color: white;
    border: none;
    padding: 5px 60px;
    cursor: pointer;
  }
  
  .movie-genre {
    color: white;
    margin-bottom: 10px;
  }
  
  .movie-description {
    color: white;
    font-size: 14px;
    margin-bottom: 10px;
  }
  
  .movie-cast {
    display: flex;
    justify-content: space-around;
  }
  
  .cast-member {
    text-align: center;
  }
  
  .cast-member img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-bottom: 5px;
  }
  