.main__container__order {
  background-color: #000;
  color: #fff;
  padding: 20px;
  border-radius: 10px;
  max-width: 400px;
  margin: auto;
  font-family: Arial, sans-serif;
}

.container__header__order {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.information_order {
  display: flex;
  margin-top: 20px;
}

.image__order__movie img {
  width: 80px;
  height: 120px;
  border-radius: 10px;
}

.info__order__movie {
  margin-left: 15px;
}

.number__order {
  margin-top: 10px;
  font-size: 12px;
}
.order__summary {
  margin-top: 20px;
}

.ticket__info, .price__details {
  display: flex;
  justify-content: space-between;
}

.payment__method {
  margin-top: 20px;
}

.payment__card {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.payment__card__image {
  width: 40px;
  margin-right: 10px;
}

.payment__timer {
  background-color: #660000;
  color: #fff;
  padding: 10px;
  text-align: center;
  margin-top: 20px;
  border-radius: 5px;
}

.timer__countdown {
  color: #ff0000;
  font-weight: bold;
  margin-left: 10px;
}